<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="About">About</a></li>
            <li><a href="contacts">Contacts</a></li>
            <li><a href="newpage">Newpage</a></li>
        </ul>
    </nav>

    <h1>Home page</h1>
    <p>Name: <b><%= name %></b></p>
    <p>Id: <b><%= id %></b></p>

    <form action="/update" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      
        <label for="id">Id:</label>
        <input type="number" id="id" name="id" required>
      
        <button type="submit">Update</button>
      </form>
      
</body>
</html>